body {
  font-family: "Josefin Sans", sans-serif;
}
/* .hero-section {
  display: flex;
} */
.container {
  background-color: #161616;
  color: white;
  width: 1021px;
  height: 470px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 30px;
  display: flex;
}

.container h2 {
  font-size: 60px;
  padding-left: 40px;
}
.container p {
  padding-left: 40px;
  line-height: 20px;
  padding-bottom: 25px;
}
.container img {
  width: 450px;
  margin-left: 50px;
  margin-top: 20px;
}
.container a {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-left: 40px;
}
/* -------
 Upcoming match 
 ------- */
.upcoming-match {
  background-color: #161616;
  display: inline;
  padding: 30px;
  border-radius: 10px;
  display: flex;
}
aside {
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-left: 135px;
  padding: 30px 20px;
  position: sticky;
  top: 10px;
  /* margin-bottom: 30px; */
}
aside a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px 10px;
  color: black;
  transition: 1s;
}
aside .all-blog {
  background-color: red;
}

.section-blog {
  display: flex;
  /* justify-content: space-evenly; */
}
.fonts {
  display: flex;
  /* justify-content: space-around; */
}
.blog-texts h4 {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}
.blog-texts h4:hover {
  background-color: lightcoral;
}
.blog-texts h3 {
  margin: -10px auto;
  line-height: 20px;
}
.blog-texts .fonts {
  margin-top: 15px;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  /* margin-right: 1035px; */
  width: 70%;
  grid-gap: 30px;
}
.blogs-content img {
  width: 80%;
}
