body {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(210, 243, 255);
  box-sizing: border-box;
}

.container {
  background-color: #161616;
  color: white;
  max-width: 1200px;
  /* height: 470px; */
  margin: 40px auto;
  padding: 6% 4%;
  border-radius: 30px;
  display: flex;
}
.container-details {
  max-width: 57%;
  padding: 0 2%;
}
.container-img {
  max-width: 43%;
  padding: 0 2%;
  margin: 0 auto;
}
.container h2 {
  font-size: 60px;
  /* padding-left: 40px; */
}
.container p {
  max-width: 80%;
  /* padding-left: 40px; */
  line-height: 20px;
  /* padding-bottom: 25px; */
}
.container-img img {
  max-width: 100%;
  height: 100%;
  display: block;
  /* margin-left: 50px;
  margin-top: 20px; */
}
.container a {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block;
  /* margin-left: 40px; */
}
/* -------
 Upcoming match 
 ------- */
.upcoming-match {
  background-color: #161616;
  display: inline;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  height: 200px;
}
aside {
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* margin-left: 135px; */
  padding: 30px 20px;
  position: sticky;
  top: 10px;
  height: 200px;
  /* margin-bottom: 30px; */
}
aside a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  transition: 1s;
  margin: 10px 10px;
}
aside .all-blog {
  background-color: red;
}

.section-blog {
  /* display: flex;
  margin-top: 70px; */
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.fonts {
  display: flex;
}
.massage-div {
  margin-left: 35px;
}
.blog-texts h4 {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}
.blog-texts h4:hover {
  background-color: lightcoral;
}
.blog-texts h3 {
  margin: -10px auto;
  line-height: 20px;
}
.blog-texts .fonts {
  margin-top: 15px;
}
.blog-img img {
  /* border-radius: 10px; */
  height: 150px;
  width: 220px;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 70%;
  grid-gap: 30px;
}
.blogs-content img {
  width: 100%;
  border-radius: 10px;
}
.blogs-content {
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  padding: 15px;
  margin-bottom: 60px;
}
/* ------------------
FOOTER SECTION STARTS
---------------------- */
footer {
  background-color: #161616;
  padding: 140px;
}
footer h2 {
  text-align: center;
  color: white;
  font-size: 40px;
}
footer h3 {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 55px;
}
footer a {
  text-decoration: none;
  color: #b9b9b9;
  margin: 20px;
  margin-left: 40px;
}
footer hr {
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
}
footer .social-icon {
  /* color: blue; */
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
/* ------------
FOOTER SECTION ENDS 
------------- */

/* ---------
MATCH SECTION START 
---------- */

.match {
  background-color: rgb(210, 243, 255);
  border: 5px solid rgb(186, 229, 245);
  padding: 30px;
  overflow: hidden;
  border-radius: 10px;
}
.match-text {
  text-align: center;
}
.match-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.match-img h2 {
  margin: 10px;
}
.match-text h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
  line-height: 30px;
  font-weight: 600;
}
/* MATCH SECTION ENDS */

/* -------------------
 Responsiveness Mobile
 -------------------- */
@media screen and (max-width: 576px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    flex-direction: column;
    max-width: 100%;
    padding: 0 2% 0 2%;
    margin: 0 auto;
    text-align: center;
  }
  .container-details,
  .container-img {
    max-width: 100%;
  }
  .container-img {
    padding: 5% 0;
    display: block;
  }
  .container-details h2 {
    font-size: 35px;
  }
  .container-details p {
    max-width: 100%;
  }
  .section-blog {
    flex-direction: column;
  }
  .section-blog aside {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
  }
  .section-blog aside a {
    /* border: 1px solid black; */
    box-shadow: 0 0 10px grey;
    padding: 15px 50px;
    background-color: rgb(210, 243, 255);
  }
  .section-blog aside .all-blog {
    background-color: red;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/* -------------------
 Responsiveness Tablet
 -------------------- */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-blog {
    display: flex;
    margin-top: 150px;
  }
  .section-blog aside {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-top: 570px;
    background-color: rgb(210, 243, 255);
    /* font-size: 2vw; */
    margin-left: 150px;
    margin-right: 150px;
  }
  .section-blog aside a {
    /* border: 1px solid black; */
    box-shadow: 0 0 10px grey;
    padding: 15px 50px;
    background-color: rgb(210, 243, 255);
  }
  .section-blog aside .all-blog {
    background-color: red;
  }
  .blogs-content {
    margin-left: 50px;
  }
  .container img {
    width: 400px;
    margin-left: 15px;
    margin-top: 72px;
  }
  .footer-menu {
    display: flex;
  }
}
