body {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(210, 243, 255);
}

.container {
  background-color: #161616;
  color: white;
  width: 1021px;
  height: 470px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 30px;
  display: flex;
}

.container h2 {
  font-size: 60px;
  padding-left: 40px;
}
.container p {
  padding-left: 40px;
  line-height: 20px;
  padding-bottom: 25px;
}
.container img {
  width: 450px;
  margin-left: 50px;
  margin-top: 20px;
}
.container a {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-left: 40px;
}
/* -------
 Upcoming match 
 ------- */
.upcoming-match {
  background-color: #161616;
  display: inline;
  padding: 30px;
  border-radius: 10px;
  display: flex;
}
aside {
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-left: 135px;
  padding: 30px 20px;
  position: sticky;
  top: 10px;
  /* margin-bottom: 30px; */
}
aside a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  transition: 1s;
  margin: 10px 10px;
}
aside .all-blog {
  background-color: red;
}

.section-blog {
  display: flex;
  margin-top: 70px;
}

.fonts {
  display: flex;
  /* justify-content: space-around; */
}
.massage-div {
  margin-left: 35px;
}
.blog-texts h4 {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}
.blog-texts h4:hover {
  background-color: lightcoral;
}
.blog-texts h3 {
  margin: -10px auto;
  line-height: 20px;
}
.blog-texts .fonts {
  margin-top: 15px;
}
.blog-img img {
  /* border-radius: 10px; */
  height: 150px;
  width: 220px;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 70%;
  grid-gap: 30px;
}
.blogs-content img {
  width: 100%;
  border-radius: 10px;
}
.blogs-content {
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  padding: 15px;
  margin-bottom: 60px;
}
/* ----- 
Footer
-------- */
footer {
  background-color: #161616;
  padding: 140px;
}
footer h2 {
  text-align: center;
  color: white;
  font-size: 40px;
}
footer a {
  text-decoration: none;
  color: #b9b9b9;
  margin: 20px;
  margin-left: 40px;
}
footer hr {
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
}
footer .social-icon {
  color: white;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
/* ------
 Responsiveness
 --------- */
@media screen and (max-width: 576px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-blog {
    display: flex;
    margin-top: 150px;
  }
  .section-blog aside {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-top: 570px;
    background-color: rgb(210, 243, 255);
  }
  .section-blog aside a {
    /* border: 1px solid black; */
    box-shadow: 0 0 10px grey;
    padding: 15px 50px;
    background-color: rgb(210, 243, 255);
  }
  .section-blog aside .all-blog {
    background-color: red;
  }
  .blogs-content {
    margin-left: 50px;
  }
  /* aside a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    transition: 1s;
    margin: 10px 10px;
  } */
}
